<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			You are signed in
		</section>
		<section>

		</section>
		<section>

		</section>
	</aside>
</div> 

<div class="span8">
	<h3>latest updates</h3>
</div> 

<% else %>

<div class="pull-right">
<%= link_to image_tag("facebook.png", alt: "Fanlink Facebook",width:"20",height:"20"), "http://facebook.com/fanlinkorg" %>
<%= link_to image_tag("twitter.png", alt: "Fanlink Twitter",width:"20",height:"20"), "http://twitter.com/fanlinkorg" %>
<%= link_to image_tag("email.png", alt: "Fanlink Email",width:"20",height:"20"), "mailto:fanlinkorg[at]gmail.com" %>
</div>

<div class="center hero-unit">
	<h1>Fanlink.org Fanportals</h1>

	<h2>
		Join your favorite fan communities
	</h2>

	<%= link_to "Sign up now!", signup_path,
	class: "btn btn-large btn-primary" %>

</div>

<div class="center">
<ul class="nav nav-pills">
	<li><%= link_to "Home", "#" %></li>
	<li><%= link_to "The Communities", "#" %></li>
	<li><%= link_to "FAQ", "#" %></li>
	<li><%= link_to "Contact", "#" %></li>
</ul>
</div>


<div>
<aside class="span4">
	<ul class="nav nav-list">
		<li class="nav-header">Directory</li>
		<li><a href="/directory/movies">Movies (<%= @portals_movies.count %>)</a></li>
		<li><a href="/directory/tv">TV Shows (<%= @portals_tv.count%>)</a></li>
		<li><a href="/directory/celebs">Celebrities (<%= @portals_celebs.count%>)</a></li>
		<li><a href="/directory/fanfics">Fanfics (<%= @portals_fanfics.count%>)</a></li>
		<li><a href="/directory/characters">Characters (<%= @portals_characters.count%>)</a></li>
		<li><a href="/directory/books">Books (<%= @portals_books.count%>)</a></li>
		<li><a href="/directory/other">Other (<%= @portals_other.count%>)</a></li>
		<li><a href="/directory">Show all (<%= @portals.count%>)</a></li>	
		Total Members: <%= @users.count %>	
		<li class="nav-header">Or</li>
		<li><a href="/requests">Request a Portal</a></li>
		<li><a href="#">Start your own!</a></li>
	</ul>

	
</aside>
</div>

<div>
	<h3>Featured Portals</h3>
	
	<div class = "center">
		<% if @homeportals.any? %>
			<% @homeportals.each do |p| %>
			<!-- %= render :partial => 'homeportals', :locals => {:p => p} % -->
			<%= link_to image_tag("/assets/portals/" + p[:slug] + ".png", alt: p[:title]), p[:slug] %>
			<% end %>
		<% end %>
	</div>
</div>








<% end %>






