		<a href="/directory/movies">Movies (<%= @portals_movies.count %>)</a> |
		<a href="/directory/tv">TV Shows (<%= @portals_tv.count%>)</a> |
		<a href="/directory/celebs">Celebrities (<%= @portals_celebs.count%>)</a> |
		<a href="/directory/fanfics">Fanfics (<%= @portals_fanfics.count%>)</a> |
		<a href="/directory/characters">Characters (<%= @portals_characters.count%>)</a> |
		<a href="/directory/books">Books (<%= @portals_books.count%>)</a> |
		<a href="/directory/other">Other (<%= @portals_other.count%>)</a> |
		<a href="/directory">All (<%= @portals.count %>)</a>

<br><br>

